@model DATA.Models.Department

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" id="createDeptForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" id="DepName" required="required" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

