@model DBFirst.Models.AddStudentVM


<link href="~/css/select2.min.css" rel="stylesheet" />
<section>
    <div class="row">
        <div class="col-md-12">
                    <form method="post" action="Create" id="studForm">
                        <div class="mb-3">
                            <label for="" class="form-label">Name</label>
                            <input type="text" class="form-control" onfocusout="validateForm()" asp-for="Name" id="name">
                            <div id="NameValid" style="color:red;" class="validmes"></div>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Email</label>
                            <input type="email" class="form-control" asp-for="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="DepID">Departments:</label>
                            @Html.DropDownListFor(x => x.DepID, new SelectList(ViewBag.Departments, "Value", "Text"), "-- Select Department --", new { @class = "form-control" })
                            <span asp-validation-for="DepID" class="text-danger"></span>
                        </div>
                        @*<div class="form-group">
                <label asp-for="SelectedSubjects">Subjects</label>
                <select asp-for="SelectedSubjects" class="form-control" asp-items="ViewBag.Subjects" multiple></select>
                <span asp-validation-for="SelectedSubjects" class="text-danger"></span>
            </div>*@

                        <div class="form-group">
                            <label asp-for="SelectedSubjects">Subjects</label>
                            <select asp-for="SelectedSubjects" id="selectedSubjects" class="form-control select2" asp-items="ViewBag.Subjects" asp-placeholder="Select subjects" multiple="multiple"></select>
                            <span asp-validation-for="SelectedSubjects" class="text-danger"></span>
                        </div>

                        @*<div class="form-group">
                <label asp-for="SelectedSubjects">Subjects</label>
                @Html.DropDownListFor("Subjects",ViewBag.Subjects, new { @multiple = "multiple" })
                <span asp-validation-for="SelectedSubjects" class="text-danger"></span>
            </div>*@
                    </form>

        </div>

    </div>
</section>


<script>
    $(document).ready(function () {
        $('.select2').select2();
        $("#selectedSubjects").select2({
            placeholder: "Select subjects..."
        });
    });
</script>